.container-home
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat (12, 1fr)
    border: 2px solid #f76707

.pumpkin-home
    grid-column: 1/7
    grid-row: 1/2
    min-height: 100%
    width: 100%

.page-header
    color: white
    grid-column: 1/7
    grid-row: 1/2
    display: flex
    align-items: flex-start
    justify-content: center

.first-h1
    grid-column: 2/6
    grid-row: 3/4

.second-h1
    background-color: pink
    grid-column: 2/6
    grid-row: 5/6

.third-h1
    background-color: yellow
    grid-column: 2/6
    grid-row: 7/8

.start-button-container
    grid-column: 4/5
    grid-row: 11/12