@import "_variables"
.hidden
    visibility: hidden

.item-list
    display: flex
    flex-wrap: wrap
    align-content: space-between
    justify-content: center

.product
    background-color: white
    border: 2px solid white
    margin: 2px
    width: 110px
    // height: 110px
    opacity: 1
    .product-img
        height: 90px
        width: 100%
        object-fit: contain
    .product-name
        text-align: center
    &:hover
        // border: 2px solid $dark-green
        transform: scale(1.05)

.selected-item
    border: 2px solid $dark-green

.shopping-list--wrapper
    background: $pale-green
    margin: 1rem auto
    padding: 1rem
    max-width: 70%
    text-align: center
    box-shadow: 1px 1px 2px
    transform: rotate(2deg);

    li
        margin: 0.5rem auto
    
    h2
        margin: 0.5rem

.shopping-form 
    display: flex
    justify-content: center
.submit-button 
    