
.hidden
    visibility: hidden

.item-list
    display: flex
    flex-wrap: wrap
    align-content: space-between
    justify-content: center

.product
    background-color: white
    margin: 1px
    width: 110px
    // height: 110px
    .product-img
        height: 90px
        width: 100%
        object-fit: contain
    .product-name
        text-align: center
