$andys-mad-variable: 20px
$andys-mad-variables-mate: 8px
body
    font-size: $andys-mad-variable
    color: yellow
p
    font-size: $andys-mad-variables-mate
    color: blue
li
    color: orange
    font-size: $andys-mad-variable
