//
//VARIABLES
//

//MAIN FONT
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')
$global-font: 'Raleway', sans-serif
$global-font-color-black: rgb(34, 34, 34)
$global-font-size: 25px
$global-bg-color-whiteish: rgb(245, 243, 241)

//COLORS
$light-green: rgb(0, 180, 149)
$dark-green: rgb(49, 83, 80)

//STYLES
html
    font-family: $global-font
    font-size: $global-font-size
    color: $global-font-color-black
    background-color: $global-bg-color-whiteish
