//
//VARIABLES
@import "_variables"
//

//MAIN FONT
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')

//STYLES
html
    font-family: $global-font
    // font-size: $global-font-size
    color: $dark-green
    background-color: $global-bg-color-whiteish

h1
    font-size: 2
    font-weight: 500
h2
    font-size: 1.6
    font-weight: 500
h3
    font-size: 1.25
    font-weight: 500

.navbar
    background-color: $light-green
    color: $global-bg-color-whiteish
    ul
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0.75rem 1.5rem

        .navbar-logo
            font-size: 1.25rem
            text-transform: uppercase
    a
        padding: 0px 2rem

ul
    list-style-type: none
    margin-block-start: 0
    margin-block-end: 0
    margin-inline-start: 0
    margin-inline-end: 0
    padding-inline-start: 0
a
    text-decoration: none
    color: inherit

// reset button properties
input[type="submit"], button, .button
    background: $light-green
    color: $global-bg-color-whiteish
    font-weight: bold
    padding: 0.5rem 4rem
    border: none
