html, .container-home {
  margin: 0 auto;
  padding: 0 auto;
  scroll-behavior: smooth;
  border: none;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center; }

.header-img {
  width: 100vw; }

.header-txt, p, body, html {
  margin: 0px 0px;
  padding: 0px 0px; }

.step {
  background-color: green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 50px; }

.wrapper2, .wrapper4, .wrapper6 {
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding: 30px 30px;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center; }

.wrapper0 .header-img {
  max-width: 100%;
  max-height: auto; }

.wrapper0 .header-txt {
  right: 30%;
  top: 5%;
  z-index: 1; }

.page-header {
  color: white;
  justify-content: center;
  text-align: center; }

.wrapper1 {
  margin-top: 10px;
  max-wigth: 300px; }

.wrapper2 {
  margin-top: 10px; }

.wrapper3 {
  margin-top: 10px;
  max-wigth: 300px; }

.wrapper4 {
  margin-top: 10px; }

.wrapper5 {
  margin-top: 10px;
  max-wigth: 300px; }

.wrapper6 {
  margin-top: 10px; }

.wrapper7 {
  margin-top: 10px;
  text-align: center;
  align-self: center; }

.start-button {
  width: 300px;
  height: 60px;
  text-transform: uppercase;
  margin: 20px 20px; }

@media only screen and (max-width: 1000px) {
  body {
    font-size: 18px; }
  .container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center; }
  .wrapper1, .wrapper3, .wrapper5 {
    max-width: 300px; }
  .header-img {
    max-width: 100%; } }
