.container-home {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 2px solid #f76707; }

.wrapper0 {
  grid-column: 1/7;
  grid-row: 1/2;
  position: relative; }
  .wrapper0 .header-img {
    max-width: 100%;
    max-height: auto;
    position: absolute; }
  .wrapper0 .header-txt {
    position: absolute;
    right: 30%;
    top: 5%;
    z-index: 1; }

.page-header {
  color: white;
  grid-column: 1/7;
  grid-row: 1/2;
  justify-content: center;
  text-align: center; }

.wrapper1 {
  grid-column: 2/4;
  grid-row: 2/4; }

.wrapper2 {
  grid-column: 4/6;
  grid-row: 2/4; }

.wrapper3 {
  grid-column: 4/6;
  grid-row: 3/4; }

.wrapper4 {
  grid-column: 2/4;
  grid-row: 3/4; }

.wrapper5 {
  grid-column: 2/4;
  grid-row: 4/5; }

.wrapper6 {
  grid-column: 4/6;
  grid-row: 4/5; }

.wrapper7 {
  grid-column: 3/5;
  grid-row: 5/6;
  text-align: center;
  align-self: center; }

.start-button {
  padding: 100px; }
