html, .container-home {
  margin: 0 auto;
  padding: 0 auto;
  scroll-behavior: smooth;
  border: none;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center; }

.header-img {
  width: 100vw;
  object-fit: cover;
  max-height: 150px; }

.header-txt, p, body, html {
  margin: 0px 0px;
  padding: 0px 0px; }

.step {
  background-color: #00b495;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .step .digit {
    margin-top: -3px; }

.home-paragraph {
  text-align: left;
  margin-left: 1rem; }

.wrapper2, .wrapper4, .wrapper6 {
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding: 30px 30px;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center; }

.header-img {
  max-width: 100%;
  max-height: auto; }

.header-txt {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px #000000; }

.page-header {
  color: white;
  justify-content: center;
  text-align: center; }

.wrapper0 {
  position: relative; }

.wrapper1 {
  margin-top: 20px;
  width: 700px; }

.wrapper2 {
  margin-bottom: 30px; }

.wrapper3 {
  margin-top: 10px;
  width: 700px; }

.wrapper4 {
  margin-bottom: 30px; }

.wrapper5 {
  margin-top: 10px;
  width: 700px; }

.wrapper6 {
  margin-bottom: 30px; }

.wrapper7 {
  margin-top: 10px;
  text-align: center;
  align-self: center; }

.start-button {
  width: 300px;
  height: 60px;
  text-transform: uppercase;
  margin: 20px 20px; }

.button {
  margin: 2rem auto; }

@media only screen and (max-width: 1000px) {
  body {
    font-size: 18px; }
  .wrapper1, .wrapper3, .wrapper5 {
    max-width: 300px; }
  .header-img {
    max-width: 100%; } }
