.message {
  text-align: center;
  margin: 50px 50px; }

.resultsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px;
  margin: 0 auto; }
  .resultsList li {
    margin-top: 10px;
    font-size: 18px; }
  .resultsList .label {
    font-size: 10px;
    text-align: center;
    align-self: center; }
  .resultsList .breakdown {
    background-color: #47C954;
    text-align: center;
    padding: 15px 15px;
    margin-left: -15px;
    font-size: 8px;
    line-height: 30%;
    text-transform: uppercase;
    max-width: 100px;
    margin-bottom: 10px; }

@media only screen and (min-width: 1000px) {
  .link {
    font-size: 10px; } }
