.hidden {
  visibility: hidden; }

.item-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center; }

.product {
  background-color: white;
  border: 2px solid white;
  margin: 2px;
  width: 110px;
  opacity: 1; }
  .product .product-img {
    height: 90px;
    width: 100%;
    object-fit: contain; }
  .product .product-name {
    text-align: center; }
  .product:hover {
    transform: scale(1.05); }

.selected-item {
  border: 2px solid #315350; }

.shopping-list--wrapper {
  background: #dae4d5;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 70%;
  text-align: center;
  box-shadow: 1px 1px 2px;
  transform: rotate(2deg); }
  .shopping-list--wrapper li {
    margin: 0.5rem auto; }
  .shopping-list--wrapper h2 {
    margin: 0.5rem; }

.shopping-form {
  display: flex;
  justify-content: center; }
