@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
html {
  font-family: "Raleway", sans-serif;
  color: #315350;
  background-color: #f5f3f1; }

h1 {
  font-size: 2; }

h2 {
  font-size: 1.6; }

h3 {
  font-size: 1.25; }
