<div class="error-container">
    <h1 class="heading">Oops!</h1>

    <p class="para">{{statusCode}}</p>
    <p class="para">{{errorMessage}}</p>
    <img class="gif" src="https://media.giphy.com/media/iDSZ2gTGtTcWI/giphy.gif" alt="spongebob smashing a computer gif">
</div>