<p class="text para1">Select what food you want to buy</p>
<p class="text para2">See which supermarkets source the most local produce</p>
<p class="text para3">See a breakdown of items by where they come from</p>
<a href="/select">START</a>