<div class="wrapper0">
    <img src="assets/pumpkinhome.jpeg" class="header-img">
    <h1 class="header-txt">How it works?</h1>
</div>
<div class="container-home">
    <img class="wrapper1 img-main" src="./assets/stand.jpg" alt="fruit and vegetables display stand">
    <br>
    <div class="wrapper2">
        <p class="step">1</p>
        <p>Select what food you need to buy</p>
    </div>
    <img class="wrapper3" src="./assets/trolley.jpg" alt="shopping trolley in a supermarket">
    <br>
    <div class="wrapper4">
        <p class="step">2</p>
        <p>See which supermarkets source the most local produce</p>
    </div>
    <img class="wrapper5" src="./assets/containers.jpg" alt="shipping containers">
    <br>
    <div class="wrapper6">
        <p class="step">3</p>
        <p>See a breakdown of items by where they travel from</p>
    </div>
    <form action="/select" class="start-button-container wrapper7">
        <button type="submit" class="start-button">Start</button>
    </form>

</div>