<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor tempora ea amet optio a magnam possimus odit ad nostrum, neque necessitatibus perspiciatis modi accusamus dicta, in fugit, fuga magni reprehenderit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet obcaecati cum et labore esse! Porro culpa aut debitis consequuntur quis quas in, laborum iure eum officia, nostrum voluptates rem!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium fugit libero, consequuntur ad voluptate reiciendis quasi, saepe aliquid amet nemo nam debitis dolorem aut pariatur? Quam voluptatibus aliquam nisi tempore?</p>

<form action="/select">
    <button type="submit">Start</button>
</form>

