<div class="container-home">

    <div class="wrapper0">
    <img src="assets/pumpkinhome.jpeg" class="header-img">
    <h1 class="header-txt">How FFFF works</h1>
    </div>
    <img class="wrapper1" src="./assets/stand.jpg" alt="fruit and vegetables display stand">
    <br>
    <p class="wrapper2">Select what food you need to buy</p>

    <img class="wrapper3" src="./assets/trolley.jpg" alt="shopping trolley in a supermarket">
    <br>
    <p class="wrapper4">See which supermarkets source the most local produce</p>

    <img class="wrapper5" src="./assets/containers.jpg" alt="shipping containers">
    <br>
    <p class="wrapper6">See a breakdown of items by where they travel from</p>

    <form action="/select" class="start-button-container wrapper7">
        <button type="submit" class="start-button">Start</button>
    </form>

</div>