<div class="container-home"> 

<img src ="" alt="">
<img src ="" alt="">
<h1 class="fist-h1">Select what food you need to buy</h1>

<img src ="" alt="">
<img src ="" alt="">
<h1 class="second-h1">See which supermarkets source the most local produce</h1>

<img src ="" alt="">
<img src ="" alt="">
<h1 class="third-h1">See a breakdown of items by where they travel from</h1>

<form action="/select">
    <button type="submit" class="start-button">Start</button>
</form>

</div>