<div class="wrapper0">
    <img src="assets/pumpkinhome.jpeg" class="header-img" alt="image of pumpkin slices">
    <h1 class="header-txt">Food Miles</h1>
</div>
<h2 >How it works</h2>
<div class="container-home">
    <img class="wrapper1 img-main" src="./assets/stand.jpg" alt="fruit and vegetables display stand">
    <div class="wrapper2">
        <p class="step"><span class="digit">1</span></p>
        <p class="home-paragraph">Select the food items that you need to buy</p>
    </div>
    <img class="wrapper3" src="./assets/trolley.jpg" alt="shopping trolley in a supermarket">
    <div class="wrapper4">
        <p class="step"><span class="digit">2</span></p>
        <p class="home-paragraph">See which supermarkets source the most local produce</p>
    </div>
    <img class="wrapper5" src="./assets/containers.jpg" alt="shipping containers">
    <div class="wrapper6">
        <p class="step"><span class="digit">3</span></p>
        <p class="home-paragraph">See a breakdown of items by where they travel from</p>
    </div>
    {{!-- <form action="/select" class="start-button-container wrapper7"> --}}
    {{!-- <button type="submit" class="start-button">Start</button> --}}
    {{!-- </form> --}}
    <a class="button" href="/select">Start</a>

</div>