<ul class = "resultsList">
    {{#each result}}
    <li><a href="/itemsbysupermarket?{{../queryString}}&supermarket={{this.supermarket_id}}">{{this.sname }}  {{rounder this.score}}</a></li>
    {{/each}}
</ul>