<ul class="itemList">
    {{#each data}}
    <li>{{this.pname}}, {{this.cname}} </li>
    {{/each}}
</ul>
<form action="/results" method="post">
    <input type="text" name="product">
</form>

{{!-- <h1>hello</h1> --}}