<ul class="item-list">
    {{#each data}}
    <li class="{{this.pname}}" data-value="{{this.product_id}}">{{this.pname}}, {{this.cname}} </li>
    {{/each}}
</ul>
<form action="/results" method="post" class="shopping-form">
    <input type="submit">
</form>

<script src="js/shoppingSelection.js"></script>