<ul class="item-list">
    {{#each data}}
    <li>{{this.pname}}, {{this.cname}} </li>
    {{/each}}
</ul>
<form action="/results" method="post" class="shopping-form">
    <input type="text" name="product">
    <input type="text" name="product">
    <input type="submit">
</form>

<button class="add-apple">Add apple</button>

<script src="js/shoppingSelection.js"></script>