{{#if home}}
<header class="navbar">
    <ul>
        <li>Home</li>
    </ul>
</header>
{{else}}
<header class="navbar">
    <ul>
        <li>Home</li>
        <li>Back</li>
    </ul>
</header>
{{/if}}