{{#unless home}}
<header class="navbar">
    {{#if back}}
    <div class="nav__link nav__text--left"><a href={{back}} class="nav__link"> Back</a></div>
    {{/if}}
    <a href='/select' class="nav__link"><img class="navbar-logo" src="/assets/vegetables.svg" alt="basket with veggies logo"></a>
    <div class="nav__link nav__text--right"><a href='/' class="nav__link">Info</a></div>
</header>
{{/unless}}
