{{#unless home}}
<header class="navbar">
  <ul>
    {{#if back}}
    <li><a href={{back}} class="navbar-back"> Back</a></li>
    {{/if}}
    <li><a href='/' class="navbar-logo">Logo</a></li>
    <li><a href='/' class="navbar-back">Home </a></li>

  </ul>
</header>
{{/unless}}