{{#unless home}}
<header class="navbar">
  <ul>
    {{#if back}}
    <li><a href={{back}} class="navbar-back"> Back</a></li>
    {{/if}}
    <a href='/' class="navbar-logo"><img src="/assets/vegetables.svg"></a>
    <li><a href='/' class="navbar-back">Home </a></li>
  </ul>
</header>
{{/unless}}

